@charset "UTF-8";
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #E5E5E5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  outline: 0;
  border: 0;
  font-family: inherit;
}

.button_search {
  display: block;
  border-radius: 4px;
  padding: 12px 0;
  width: 547px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
  text-decoration: none;
}

.button_subscribe {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 0px 10px 10px 0px;
  padding: 12px 15px;
  border: 1px solid #82B3D3;
}

.button_founded-card-details {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 9px 15px 8px;
  border-radius: 4px;
  text-decoration: none;
}

.button_detail {
  background-color: #756157;
}

.button_success {
  background-color: #7DB54F;
}

.button_info {
  background-color: #82B3D3;
}

.header {
  background-color: #ffffff;
}

.header__nav-item {
  list-style-type: none;
}

.header__nav-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

.main {
  background-image: url("../images/decorative/main-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 51px;
}

.main__logo {
  margin-bottom: 146px;
}

.main__title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.advantages {
  padding-top: 31px;
  background-color: #fff;
}

.advantages__title {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 90px;
}

.advantages__item {
  list-style-type: none;
}

.advantages__card {
  padding: 80px 85px 81px 85px;
  list-style-type: none;
}

.advantages__card_darkblue {
  background-color: #82B3D3;
  color: #FFFFFF;
  padding: 92px 85px;
}

.advantages__card_lightblue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__card_blue {
  background: rgba(131, 179, 211, 0.2);
}

.advantages__card-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages__card-number {
  margin-bottom: 30px;
}

.advantages__card-number::before {
  content: "— ";
}

.advantages__card-number::after {
  content: " —";
}

.search {
  padding: 91px 0 93px;
  background-color: #ffffff;
}

.search__title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
}

.search__descr {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 592px;
  margin: auto;
  margin-bottom: 56px;
}

.subscription {
  background-image: url("../images/decorative/subscribe-background.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 94px 0;
  text-align: center;
  color: #FFFFFF;
}

.subscription__hotels {
  color: #000000;
  background-image: none;
  background-color: #FFFFFF;
}

.subscription__title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: inherit;
  margin-bottom: 29px;
}

.subscription__descr {
  font-size: 22px;
  line-height: 26px;
  color: inherit;
  margin: 0 auto;
  margin-bottom: 46px;
  width: 475px;
}

.subscription__form {
  font-size: 0;
}

.subscription__form-input {
  font-family: inherit;
  font-size: 18px;
  padding: 18px 22px;
  width: 600px;
  text-align: left;
  background: #F2F2F2;
  border: 1px solid #ffffff;
  outline: 0;
  border-radius: 10px 0px 0px 10px;
}

.footer {
  background-color: #ffffff;
  padding: 40px 70px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__list {
  display: flex;
  align-items: center;
}

.social__item {
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

.telephone__link {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.hotels {
  background-image: url("../images/decorative/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 35px;
}

.hotels__header {
  padding: 0 70px;
}

.hotels__options-title {
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.hotels__options-breadcrumbs-item {
  list-style: none;
}

.hotels__founded {
  background-color: #ffffff;
}

.hotels__founded-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels__founded-card {
  list-style: none;
}

.hotels__founded-card a {
  margin-right: 20px;
}

.hotels__founded-card-title {
  font-size: 24px;
  line-height: 28px;
}

.hotels__founded-card-details {
  text-decoration: none;
}

.hotels__founded-card-rating {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  padding: 9px 22px 8px 23px;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.hotels__pagination-select {
  font-family: inherit;
}
