@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

img {
  max-width: 100%;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: #e5e5e5;
  margin: 0;
  min-width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.container-sedona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.button {
  display: inline-block;
  font-family: inherit;
  border: none;
  cursor: pointer;
  outline: none;
  word-break: break-word;
}

.button_subscribe {
  margin: 0;
  padding: 12px 15px;
  border-radius: 0px 10px 10px 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  width: 200px;
  min-height: 60px;
}

.button_details {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 15px 8px;
  border-radius: 4px;
  text-decoration: none;
}

.button_detail {
  background-color: #756157;
  max-width: 160px;
}

.button_detail:hover,
.button_detail:focus {
  background-color: #615048;
}

.button_detail:active {
  color: #9E9089;
}

.button_detail:disabled {
  background-color: #e5e5e5;
}

.button_success {
  background-color: #7db54f;
}

.button_success:hover,
.button_success:focus {
  background-color: #6c9e42;
}

.button_success:active {
  color: #a4cb84;
}

.button_success:disabled {
  background-color: #E5E5E5;
}

.button_info {
  background-color: #82b3d3;
}

.button_info:hover,
.button_info:focus {
  background-color: #68a2ca;
}

.button_info:active {
  color: #a7cae0;
}

.button_info:disabled {
  background-color: #e5e5e5;
}

.button_search {
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 15px;
  width: 547px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  margin: 0 auto;
  text-decoration: none;
}

.header {
  background-color: #ffffff;
  position: relative;
  min-height: 65px;
}

.header__logo {
  width: 139px;
}

.header__logo-link {
  position: absolute;
  z-index: 1;
  left: 70px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  min-height: 66px;
  margin-left: 239px;
}

.header__nav-list {
  margin: 0;
  padding: 0;
  max-width: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  list-style-type: none;
}

.header__nav-service {
  margin-right: 70px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  max-width: 300px;
}

.header__nav-service .button_detail {
  margin-top: 14px;
}

.header__nav-link {
  display: block;
  padding: 20px 17px 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

.header__nav-link:hover {
  opacity: 0.6;
}

.header__nav-link_current {
  position: relative;
}

.header__nav-link_current::before {
  position: absolute;
  content: "";
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 2px;
  background-color: #756257;
}

.header__nav-link-service {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 42px;
  height: 66px;
}

.header__nav-link-service:hover,
.header__nav-link-service:focus,
.header__nav-link-serviceactive {
  opacity: 0.6;
}

.header__nav-link-service-search {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}

.header__nav-link-service-likes {
  position: relative;
  background-image: url("../images/icons/favorite.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 18px;
  margin-right: 20px;
}

.header__nav-link-service-likes-quantity {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  right: 0;
  top: 15px;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__nav-link-service-likes-number {
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.09em;
  max-width: 10px;
  max-height: 13px;
  overflow: hidden;
}

.main {
  background: url("../images/decorative/decor.svg") top 429px center/auto no-repeat, url("../images/decorative/main-background.png") top/auto no-repeat;
  text-align: center;
  padding-top: 51px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main__logo {
  margin-bottom: 146px;
}

.main__title {
  max-width: 620px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages {
  padding-top: 31px;
  background-color: #ffffff;
}

.advantages__title {
  width: 664px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 90px;
}

.advantages__list,
.advantages__item,
.advantages__card-features {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages__card {
  width: 400px;
  min-height: 384px;
  list-style-type: none;
}

.advantages__card_darkblue {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages__card_lightblue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__card_blue {
  background: rgba(131, 179, 211, 0.2);
}

.advantages__card-wrapper {
  max-width: 230px;
  margin: 0 auto;
}

.advantages__card-icon {
  margin: 0 auto;
  margin-top: 81px;
  margin-bottom: 30px;
}

.advantages__card-icon_house {
  background: url("../images/icons/housing.svg") center center no-repeat;
  width: 75px;
  height: 76px;
}

.advantages__card-icon_burger {
  width: 74px;
  height: 76px;
  background: url("../images/icons/food.svg") center center no-repeat;
}

.advantages__card-icon_present {
  width: 64px;
  height: 76px;
  background: url("../images/icons/souvenirs.svg") center center no-repeat;
}

.advantages__card-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  margin: 0;
  margin-bottom: 30px;
}

.advantages__card-title_main {
  margin-top: 92px;
}

.advantages__card-title_secondary {
  margin-top: 103px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}

.advantages__card-descr {
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
}

.advantages__card-number {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 21px;
}

.advantages__card-number::before {
  content: "— ";
}

.advantages__card-number::after {
  content: " —";
}

.advantages__card-img {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.advantages__card-img-photo {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.search {
  padding: 91px 0 93px;
  background-color: #ffffff;
}

.search__wrapper {
  width: 592px;
  margin: 0 auto;
}

.search__title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
}

.search__descr {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 592px;
  margin: auto;
  margin-bottom: 56px;
}

.subscription {
  background-image: url("../images/decorative/subscribe-background.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 94px 0;
  text-align: center;
  color: #ffffff;
}

.subscription__hotels {
  color: #000000;
  background-image: none;
  background-color: #ffffff;
}

.subscription__title {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: inherit;
}

.subscription__descr {
  font-size: 22px;
  line-height: 26px;
  color: inherit;
  margin: 0 auto;
  margin-bottom: 46px;
  width: 475px;
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.subscription__form-input {
  font: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 19px;
  max-width: 600px;
  text-align: left;
  color: #9b9b9b;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
  border-radius: 10px 0px 0px 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  cursor: pointer;
}

.subscription__form-input:focus,
.subscription__form-input:hover {
  border: 2px solid #82b3d3;
}

.footer {
  background-color: #ffffff;
  padding: 40px 70px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr -webkit-max-content 1fr;
  -ms-grid-columns: 1fr max-content 1fr;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social__list {
  max-width: 210px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
}

.social__link {
  position: relative;
  display: block;
  width: 48px;
  height: 40px;
}

.social__link:focus-visible {
  outline: none;
}

.social__link:focus-visible .social__icon {
  fill: #68a2ca;
}

.social__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.social__icon:hover,
.social__icon:focus {
  fill: #68a2ca;
}

.social__icon:active {
  fill: #d2e3ef;
}

.telephone {
  max-width: 400px;
  -ms-grid-column-align: center;
  justify-self: center;
}

.telephone__link {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.telephone__link:hover,
.telephone__link:focus {
  color: #756157;
}

.telephone__link:active {
  color: #d6d0cd;
}

.footer-logo {
  max-width: 200px;
  -ms-grid-column-align: end;
  justify-self: end;
}

.footer-logo__icon {
  display: block;
  fill: #000000;
}

.footer-logo__icon:hover,
.footer-logo__icon:focus {
  fill: #756157;
}

.footer-logo__icon:active {
  fill: #d6d0cd;
}

.footer-logo__img {
  display: block;
}

.hotels {
  background-color: #756257;
  background-image: url("../images/decorative/filter-background.jpg");
  background-size: auto 430px;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.hotels__header {
  padding: 35px 70px 70px;
}

.hotels__options-title {
  max-width: 600px;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 10px;
}

.hotels__options-breadcrumbs {
  max-width: 500px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  color: #ffffff;
}

.hotels__options-breadcrumbs>*:not(:last-child) {
  position: relative;
}

.hotels__options-breadcrumbs>*:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 0px;
  right: 9px;
  bottom: 0;
  left: 0;
  margin: auto 0 auto auto;
  width: 6px;
  height: 8px;
  background-image: url("../images/icons/arrow-breadcrumbs.svg");
  background-repeat: no-repeat;
}

.hotels__options-breadcrumbs-item {
  max-width: 462px;
}

.hotels__options-breadcrumbs-home {
  background: url("../images/icons/home-breadcrumbs.svg") top/auto no-repeat;
  width: 12px;
  height: 12px;
}

.hotels__options-breadcrumbs-link {
  display: block;
  margin-right: 26px;
}

.hotels__options-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotels__options-form-group {
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

.hotels__options-form-group_infra {
  max-width: 150px;
  margin-right: 67px;
}

.hotels__options-form-group_accomodation {
  width: 150px;
  margin-right: 167px;
}

.hotels__options-form-group_price {
  max-width: 190px;
}

.hotels__options-form-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotels__options-form-item:not(:last-child) {
  margin-bottom: 16px;
}

.hotels__options-form-chbx,
.hotels__options-form-radio {
  position: relative;
  display: block;
  padding-left: 40px;
}

.hotels__options-form-chbx:hover .hotels__options-form-input-mark,
.hotels__options-form-radio:hover .hotels__options-form-input-mark {
  background-color: #cfdde9;
}

.hotels__options-form-chbx:focus-within .hotels__options-form-input-mark,
.hotels__options-form-radio:focus-within .hotels__options-form-input-mark {
  background-color: #cfdde9;
  outline: 3px solid #83B3D3;
}

.hotels__options-form-chbx:active .hotels__options-form-input-mark,
.hotels__options-form-radio:active .hotels__options-form-input-mark {
  background-color: #a1b9d3;
}

.hotels__options-form-input[type="checkbox"]:checked+.hotels__options-form-input-mark {
  background-image: url("../images/icons/checkmark-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 10px;
}

.hotels__options-form-input[type="checkbox"]:disabled+.hotels__options-form-input-mark {
  background-color: #9baab4;
}

.hotels__options-form-input-radio[type="radio"]:checked+.hotels__options-form-input-mark-radio::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  content: "";
}

.hotels__options-form-input-radio[type="radio"]:disabled+.hotels__options-form-input-mark-radio {
  background-color: #9baab4;
}

.hotels__options-form-radio:focus-within .hotels__options-form-input-mark-radio {
  outline: 3px solid #83b3d3;
}

.hotels__options-form-input-mark {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
}

.hotels__options-form-input-mark-radio {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
}

.hotels__options-form-input-label {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
  max-width: 105px;
  word-break: break-word;
}

.hotels__options-form-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #FFFFFF;
  max-width: 150px;
  word-break: break-word;
}

.hotels__options-form-range-wrapper-inputs {
  width: 288px;
  margin-top: 4px;
  margin-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.hotels__options-form-range-label {
  position: relative;
}

.hotels__options-form-range-label:last-child>input {
  margin-left: -2px;
  border-radius: 0 4px 4px 0;
}

.hotels__options-form-range-label-title {
  position: absolute;
  top: 7px;
  right: 13px;
  line-height: 23px;
  overflow: hidden;
  max-width: 30px;
  height: 23px;
  color: #768289;
}

.hotels__options-form-range-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 145px;
  margin: 0;
  padding: 7px 42px 7px 11px;
  font: inherit;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 4px 0 0 4px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  cursor: pointer;
  outline: none;
}

.hotels__options-form-range-input::-webkit-outer-spin-button,
.hotels__options-form-range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.hotels__options-form-range-input:hover {
  border: 2px solid #FFFFFF;
}

.hotels__options-form-range-input:focus,
.hotels__options-form-range-input:focus-visible {
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: 0px 0px 0px 3px #81B3D2;
  box-shadow: 0px 0px 0px 3px #81B3D2;
}

.hotels__options-form-range-input:active {
  background-color: #756257;
}

.hotels__options-form-range-scale {
  position: relative;
  height: 4px;
  background-color: #6b6e71;
  max-width: 287px;
}

.hotels__options-form-range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.hotels__options-form-range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hotels__options-form-range-toggle:focus {
  outline: 3px solid #83B3D3;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.hotels__options-form-range-toggle:active {
  outline: 2px solid #83B3D3;
  -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.hotels__options-form-range-toggle-min {
  top: -8px;
  left: 0px;
}

.hotels__options-form-range-toggle-max {
  top: -8px;
  right: -10px;
}

.hotels__options-form-buttons-wrapper {
  width: 160px;
  padding-top: 60px;
  margin-left: auto;
}

.hotels__options-form-apply {
  border-radius: 4px;
  padding: 14px 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  width: 160px;
}

.hotels__options-form-reset {
  width: 160px;
  padding: 14px 15px;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 20px;
}

.hotels__options-form-reset:hover,
.hotels__options-form-reset:focus {
  color: #d6d0cd;
}

.hotels__options-form-reset:active {
  color: #756157;
}

.hotels__founded-select,
.hotels__pagination-select {
  width: 290px;
  height: 49px;
  padding: 14px 20px;
  padding-right: 48px;
  font: inherit;
  color: #333333;
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
  border: none;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/icons/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  cursor: pointer;
}

.hotels__founded-select option,
.hotels__pagination-select option {
  width: 290px;
}

.hotels__founded-select :hover,
.hotels__founded-select:focus,
.hotels__pagination-select :hover,
.hotels__pagination-select:focus {
  outline: 2px solid #68a2ca;
}

.hotels__founded-select:active,
.hotels__pagination-select:active {
  outline: 1px dashed #9747ff;
}

.hotels__founded-select:disabled,
.hotels__pagination-select:disabled {
  color: #b3b3b3;
  outline: 1px dashed #b3b3b3;
}

.hotels__founded {
  background-color: #ffffff;
  padding: 50px 72px 0;
}

.hotels__founded-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 76px;
}

.hotels__founded-title {
  max-width: 450px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 7px;
}

.hotels__founded-select {
  margin-left: auto;
}

.hotels__sorting-buttons {
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 160px;
}

.hotels__founded-button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  background-size: 16px auto;
  background-position: center;
  background-repeat: no-repeat;
  outline: 2px solid #e5e5e5;
  outline-offset: -2px;
  border-radius: 4px;
  border-color: none;
}

.hotels__founded-button:focus {
  outline: 2px solid #68a2ca;
}

.hotels__founded-button:hover,
.hotels__founded-button:active,
.hotels__founded-button_selected {
  outline: 2px solid #000000;
}

.hotels__founded-button_plate {
  background-image: url("../images/icons/table-sort.svg");
}

.hotels__founded-button_one {
  background-image: url("../images/icons/card-sort.svg");
}

.hotels__founded-button_list {
  background-image: url("../images/icons/list-sort.svg");
}

.hotels__founded-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 18px;
  margin: 0;
  padding: 0;
  padding-bottom: 86px;
  border-bottom: 1px solid #e6e6e6;
  list-style-type: none;
}

.hotels__founded-card {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
}

.hotels__founded-card-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  width: 300px;
}

.hotels__founded-card-img {
  grid-column: 1 / -1;
}

.hotels__founded-card-title {
  grid-column: 1 / -1;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  max-width: 300px;
}

.hotels__founded-card-details {
  text-decoration: none;
  text-align: center;
}

.hotels__founded-card-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotels__founded-card-type,
.hotels__founded-card-price {
  margin: 0;
  max-width: 140px;
  overflow-wrap: break-word;
}

.hotels__founded-card-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/icons/star.svg");
  background-repeat: space repeat;
  height: 17px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.hotels__founded-card-stars_4 {
  width: 88px;
}

.hotels__founded-card-stars_3 {
  width: 66px;
}

.hotels__founded-card-stars_2 {
  width: 42px;
}

.hotels__founded-card-stars_1 {
  width: 22px;
}

.hotels__founded-card-stars_0 {
  width: 0px;
}

.hotels__founded-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  padding: 9px 22px 8px 23px;
  background-color: #f2f2f2;
  border-radius: 4px;
  word-break: break-word;
}

.hotels__founded-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 25px;
}

.hotels__pagination {
  width: 400px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 8px;
  list-style-type: none;
}

.hotels__paginations-link {
  display: block;
  width: 60px;
  height: 60px;
  padding: 11px;
  outline: none;
  text-decoration: none;
  background-color: #82b3d3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ffffff;
}

.hotels__paginations-link:hover,
.hotels__paginations-link:focus {
  background-color: #68a2ca;
}

.hotels__paginations-link:active {
  background-color: #82b3d3;
  color: #a7cae0;
}

.hotels__paginations-link_current {
  color: #000000;
  background-color: #f2f2f2;
}

.hotels__paginations-link_current:hover,
.hotels__paginations-link_current:focus,
.hotels__paginations-link_current:active {
  color: #000000;
  background-color: #f2f2f2;
}

.hotels__paginations-link-number {
  display: block;
  max-width: 34px;
  height: 36px;
  overflow: hidden;
  margin: 0 auto;
  color: inherit;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels__pagination-title {
  margin-left: auto;
  margin-right: 51px;
  max-width: 250px;
}

.hotels__pagination-select {
  width: 160px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-search {
  width: 715px;
  -webkit-box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search__wrapper {
  position: relative;
  margin: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 62px 70px 70px;
  background-color: #ffffff;
}

.modal-search__close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  color: #000000;
  cursor: pointer;
}

.modal-search__close-button svg {
  fill: #000000;
}

.modal-search__close-button:hover {
  background-color: #e6e6e6;
}

.modal-search__close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #68a2ca;
}

.modal-search__close-button:active {
  background-color: #e6e6e6;
}

.modal-search__close-button:active svg {
  fill: #a1a1a1;
}

.modal-search__title {
  max-width: 450px;
  margin: 0;
  margin-bottom: 63px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.modal-search__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 133px 1fr 133px;
  grid-template-columns: 1fr 133px 1fr 133px;
}

.modal-search__label {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.modal-search__input-date-wrap {
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  max-width: 420px;
}

.modal-search__input-date {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.9px;
}

.modal-search__input-date:-moz-placeholder-shown {
  color: #9b9b9b;
  background-color: #f2f2f2;
}

.modal-search__input-date:-ms-input-placeholder {
  color: #9b9b9b;
  background-color: #f2f2f2;
}

.modal-search__input-date:placeholder-shown {
  color: #9b9b9b;
  background-color: #f2f2f2;
}

.modal-search__input-date:focus {
  outline: none;
  color: #5c5c5c;
  background-color: #e6e6e6;
  -webkit-box-shadow: 0 0 0 3px #83b3d3;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-search__input-date:hover {
  color: #5c5c5c;
  background-color: #e6e6e6;
}

.modal-search__input-date:active {
  color: #000000;
  background-color: #ffffff;
}

.modal-search__input-date.modal-search__error-input,
.modal-search__input-date.modal-search__success-input {
  color: #000000;
  background-color: #f2f2f2;
}

.modal-search__input-date.modal-search__error-input:-moz-placeholder-shown,
.modal-search__input-date.modal-search__success-input:-moz-placeholder-shown {
  color: #9b9b9b;
  background-color: #f2f2f2;
}

.modal-search__input-date.modal-search__error-input:-ms-input-placeholder,
.modal-search__input-date.modal-search__success-input:-ms-input-placeholder {
  color: #9b9b9b;
  background-color: #f2f2f2;
}

.modal-search__input-date.modal-search__error-input:placeholder-shown,
.modal-search__input-date.modal-search__success-input:placeholder-shown {
  color: #9b9b9b;
  background-color: #f2f2f2;
}

.modal-search__input-date.modal-search__error-input:focus,
.modal-search__input-date.modal-search__success-input:focus {
  outline: none;
  color: #5c5c5c;
  background-color: #e6e6e6;
  -webkit-box-shadow: 0 0 0 3px #83b3d3;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-search__input-date.modal-search__error-input:hover,
.modal-search__input-date.modal-search__success-input:hover {
  color: #5c5c5c;
  background-color: #e6e6e6;
}

.modal-search__input-date.modal-search__error-input:active,
.modal-search__input-date.modal-search__success-input:active {
  color: #000000;
  background-color: #ffffff;
}

.modal-search__calendar-button {
  position: absolute;
  top: 14px;
  right: 20px;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  color: #d6d5d5;
  background-color: transparent;
  cursor: pointer;
}

.modal-search__calendar-button:focus {
  outline: 3px solid #68a2ca;
}

.modal-search__calendar-button:hover {
  color: #929090;
}

.modal-search__accept-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  margin: 11px 0;
  color: #333333;
  font-size: 16px;
  line-height: 21px;
  max-width: 420px;
  margin: 4px 0 16px;
}

.modal-search__error-text {
  color: #ff5757;
}

.modal-search__input-number-wrap {
  position: relative;
}

.modal-search__number-operator {
  position: absolute;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 47px;
  height: 100%;
  border: none;
  border-radius: 4px;
  color: #d6d5d5;
  background-color: transparent;
  cursor: pointer;
}

.modal-search__button-minus {
  top: 0;
  left: 2px;
}

.modal-search__button-plus {
  top: 0px;
  left: 84px;
  border-color: #000000;
}

.modal-search__number-operator:hover {
  color: #000000;
}

.modal-search__number-operator:active {
  color: #d6d5d5;
  outline: none;
}

.modal-search__number-operator:focus {
  outline: 3px solid #83b3d3;
}

.modal-search__guest-number {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 133px;
  padding: 14px 56px;
  border: none;
  border-radius: 4px;
  color: #000000;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  -moz-appearance: textfield;
}

.modal-search__guest-number::-webkit-outer-spin-button,
.modal-search__guest-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.modal-search__tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 48px;
}

.modal-search__label {
  margin-right: 5px;
}

.tooltip-wrapper {
  position: relative;
  width: 25px;
  height: 25px;
}

.modal-search__tooltip-toggle {
  display: block;
  width: 25px;
  height: 25px;
  padding-right: 16px;
  border: none;
  border-radius: 50%;
  background-image: url("../images/icons/info-modal.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2px 12px;
  background-color: #83b3d3;
  cursor: help;
}

.modal-search__tooltip-text {
  position: absolute;
  left: 50%;
  z-index: 1;
  display: none;
  width: 212px;
  margin-top: 18px;
  padding: 16px 22px 28px;
  border-radius: 10px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #ffffff;
  background-color: #333333;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.modal-search__tooltip-text::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 128px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-right: 9px solid transparent;
  border-bottom: 9px solid #333333;
  border-left: 9px solid transparent;
}

.modal-search__tooltip-toggle:hover+.modal-search__tooltip-text,
.modal-search__tooltip-toggle:focus+.modal-search__tooltip-text {
  display: block;
}

.modal-search__modal-button {
  max-width: 575px;
  grid-column: -1 / 1;
  margin-top: 40px;
  padding: 12px 14px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
